[submodule "stacker-game-js"]
	path = stacker-game-js
	url = https://github.com/followthedopamine/stacker-game-js
[submodule "wordle-clone"]
	path = wordle-clone
	url = https://github.com/followthedopamine/wordle-clone
[submodule "multi-step-form-vue"]
	path = multi-step-form-vue
	url = https://github.com/followthedopamine/multi-step-form-vue
