@font-face {
  font-family: 'equipmentpromedium';
  src: url('../fonts/equipmentpro-webfont.woff2') format('woff2'),
       url('../fonts/equipmentpro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11pt;
  height: 100%;
}



#app {
  height: 100%;
}

#left-split {
  background-color: #1E1E1E;
  color: #88848C;
  float: left;
}

#right-split {
  float: left;
  color: #EEEEEE;
}

@media (orientation:landscape) {
  html, body {
    overflow: hidden;
  }

  #right-split {
    width: 50%;
    height: 100%;
  }
  #left-split {
    width: 50%;
    height: 100%;
  }
}

@media (orientation:portrait) {
  #left-split {
    width: 100%;
    height: 50%;
    overflow: auto;
  }
  #right-split {
    width:100%;
  }
}

#title-bar {
  background-color: #3C3C3C;
  padding: 6px;
  width: 100%;
}

#title-bar-controls {
  float: left;
  margin-top: 3px;
}

#title-bar-close, #title-bar-max, #title-bar-min {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: solid 1px #ea4741;
  background-color: #FF6059;
  display: inline-block;
  margin-left: 4px;
}

#title-bar-max {
  border: solid 1px #e2a012;
  background-color: #FFBD2E;
}

#title-bar-min {
  border: solid 1px #1db734;
  background-color: #28CA42;
}

#title-bar-title {
  font-weight: bold;
  float: left;
  width: calc(100% - 68px);
}

#text-editor {
  padding: 12px;
  font-size: 1.6vmin;
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.clear {
  clear: both;
}

h1 {
  font-family: 'equipmentpromedium';
  display: block;
  font-size: 50px;
  font-weight: 400;
  flex-basis: 100%;
  padding-bottom: 8px;
  padding-top: 20px;
  color: #FFD369;
}

h2 {
  display: block;
  font-size: 18px;
  font-weight: 300;
  flex-basis: 100%;
}

h3 {
  display: block;
  font-size: 14px;
  font-weight: 300;
  flex-basis: 100%;
}

.container {
  width: 65%;
  height: 100%;
}

.dark-bg {
  background-color: #222831;
  height: 100%;
}

.col-2 {
  width: 50%;
  float: left;
}

.col-3 {
  width:33.33%;
  float: left;
}

#featured-thumbnails {
  width: 100%;
}

img {
  border: 0.5vw solid #FFD369;
}

.large-thumbnail {
  width: 100%;
  display: block;
  margin: 0 auto;
}

.medium-thumbnail {
  width: 90%;
  display: block;
  margin: 28px auto;
}

.right-thumbnail {
  margin-right: 0px;
}

.left-thumbnail {
  margin-left: 0px;
}

#thumbnails {
  width: 100%;
}

p {
  padding: 40px;
}
