@font-face {
  font-family: 'equipmentpromedium';
  src: url('../fonts/equipmentpro-webfont.woff2') format('woff2'),
       url('../fonts/equipmentpro-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15pt;
  height: 100%;
}

#app {
  height: 100%;
}

#left-split {
  background-color: #1E1E1E;
  color: #88848C;
  float: left;
}

#right-split {
  float: left;
  color: #EEEEEE;
}

@media (orientation:landscape) {
  html, body {
    overflow: hidden;
  }

  #right-split {
    width: 50%;
    height: 100%;
  }
  #left-split {
    width: 50%;
    height: 100%;
  }
}

@media (orientation:portrait) {
  #left-split {
    width: 100%;
    height: 50%;
    overflow: auto;
  }
  #right-split {
    width:100%;
  }
}

#title-bar {
  background-color: #3C3C3C;
  padding: 6px;
  width: 100%;
  font-size: 11pt;
}

#title-bar-controls {
  float: left;
  margin-top: 3px;
}

#title-bar-close, #title-bar-max, #title-bar-min {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  border: solid 1px #ea4741;
  background-color: #FF6059;
  display: inline-block;
  margin-left: 4px;
}

#title-bar-max {
  border: solid 1px #e2a012;
  background-color: #FFBD2E;
}

#title-bar-min {
  border: solid 1px #1db734;
  background-color: #28CA42;
}

#title-bar-title {
  font-weight: bold;
  float: left;
  width: calc(100% - 68px);
}

#text-container {
  padding: 12px;
  font-size: 1.6vmin;
  height: 100%;
  line-height: 23px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.center-vertical {
  display: flex;
  align-items: center;
}

.clear {
  clear: both;
}

h1 {
  font-family: 'equipmentpromedium';
  display: block;
  font-size: 70px;
  font-weight: 400;
  flex-basis: 100%;
  padding-bottom: 12px;
  padding-top: 20px;
  color: #FFD369;
}

h2 {
  display: block;
  font-size: 24px;
  font-weight: 300;
  flex-basis: 100%;
  padding-bottom: 8px;
}

h3 {
  display: block;
  font-size: 18px;
  font-weight: 300;
  flex-basis: 100%;
}

h4 {
  display: block;
  font-size: 13pt;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: left;
}

h5 {
  display: block;
  font-size: 13pt;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 20px;
  text-align: center;
}

#intro {
  padding: 40px;
}

p {
  display: block;
}

.container {
  width: 65%;
  height: 100%;
}

.dark-bg {
  background-color: #222831;
  height: 100%;
}

.col-2 {
  width: 50%;
  float: left;
}

.col-3 {
  width:33.33%;
  float: left;
}

@keyframes darken {
  from {filter: brightness(100%);}
  to {filter: brightness(50%);}
}

img {
  border: 0.5vw solid #FFD369;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: #FFD369;
  color: #393E46;
  padding: 8px;
  font-weight: 600;
}

.card {
  position: relative;
  overflow: hidden;
  margin: 0 auto;

}

.right-card {
  margin-right: 0px;
}

.left-card {
  margin-left: 0px;
}

.col-3 .card {
  margin-top: 20px;
  width: 92%;
  
}

.card-content {
  font-size: 10pt;
  height: 80px;
  background-color: #393E46;
}

.card-content-right {
  float: right;
  height: 100%;
  margin-right: 10px;
}

.card-content-left {
  float: left;
  height: 100%;
  margin-left: 10px;
}

@media (hover: hover) {
  .card {
    position: relative;
    overflow: hidden;
  }
  .card-content {
    position: absolute;
    left: 0; right: 0;
    bottom: -80px;
    transform: translateY(0);
    transition: transform 300ms ease-in-out;
  }
  .card:hover .card-content {
    transform: translateY(-80px);
  }
}


.blinking-cursor {
  font-weight: 100;
  font-size: 20px;
  line-height: 23px;
  color: #2E3D48;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: #61afef;
  }
}

/* input {
  caret-color: transparent;
  color: transparent;
} */